.root {
  .title {
    user-select: none;
    position: relative;
    padding-right: 20px; // Space for the icon

    &.expandable {
      cursor: pointer;

      &:hover {
        color: var(--fxl-color-primary);
      }

      &::after {
        content: "⏷"; // Unicode character for expanded state
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: var(--fxl-font-size-s);
      }
    }
  }

  .description {
    color: var(--fxl-color-text-secondary);
    font-size: var(--fxl-font-size-s);
  }

  .content {
    display: flex;
    flex-direction: column;
    transition: max-height 0.3s ease-out, opacity 0.2s ease-out;
  }

  &.expanded {
    .description {
      display: none;
    }

    .title.expandable::after {
      content: "⏵"; // Unicode character for closed state
    }
  }
}
