.panel {
  display: flex;
  flex-direction: column;
}
.root {
  margin-bottom: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--fxl-color-light1);
  .val {
    display: flex;
    align-items: center;
    gap: 10px;
    input {
      width: 100%;
    }
  }
  .children {
    margin-left: 20px;
  }
}
