
$height: 30px;

.square {
  width: $height;
  height: $height;
  padding: 0;
  border: none;
}

.pickerWrapper {
  position: relative;
}

.pickerAbsoluteWrapper {
  position: absolute;
}

.picker {
  margin-top: var(--fxl-spacing-l);
  z-index: 1;
  position: fixed;
  input {
    background: var(--fxl-color-light);
  }
}
