.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: var(--fxl-font-size-s);
  .scrollWrapper {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: var(--fxl-spacing) var(--fxl-spacing) 0 var(--fxl-spacing);
  }
  .body {
    flex-grow: 1;
  }
  .tabs {
    display: flex;
    gap: var(--fxl-spacing);
    margin-bottom: var(--fxl-spacing);
    .tab {
      width: 100%;
    }
  }
}
