.root {
  h1 {
    display: block;
    font-size: var(--fxl-font-size-l);
    margin-bottom: var(--fxl-spacing-xs);
  }
  small {
    font-size: var(--fxl-font-size-sm);
    color: var(--fxl-color-text-secondary);
  }
}
