.featureList {
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    margin-bottom: var(--fxl-spacing-sm);
    align-items: center;

    & :first-child {
      flex-grow: 1;
    }
    & :last-child {
      margin-left: 10px;
      width: 20px;
      min-width: 200px;
    }
  }
}
