body, button, input {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-light);
}

html {
  font-size: var(--font-size-regular);
}

* {
  box-sizing: border-box;
}

:root {
  --color-light: #ffffff;
  --color-light1: #b3b3b3;
  --color-light2: #737373;
  
  --color-dark: #000000;
  --color-dark-1: #111111;
  --color-dark-2: #2D2D2D;

  --color-highlight: #2ebced;

  --font-size-xs: 0.7rem;
  --font-size-x: 0.8rem;
  --font-size-regular: 11px;
  --font-size-m: 1.2rem;
  --font-size-l: 1.4rem;
}

// Some dat gui overrides here
.dg .close-button {
  display: none;
}

h2 {
  margin: 20px 0 5px 0;
}
p, ul {
  margin: 5px 0;
}